[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = https://github.com/msanders/snipmate.vim.git
[submodule "bundle/git"]
	path = bundle/git
	url = https://github.com/tpope/vim-git.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "bundle/pyflakes"]
	path = bundle/pyflakes
	url = https://github.com/mitechie/pyflakes-pathogen.git
[submodule "bundle/cvim"]
	path = bundle/cvim
	url = https://github.com/HenningM/cvim-pathogen
[submodule "bundle/conque"]
	path = bundle/conque
	url = https://github.com/lrvick/Conque-Shell.git
[submodule "bundle/pep8"]
	path = bundle/pep8
	url = https://github.com/nvie/vim-pep8.git
[submodule "bundle/sparkup"]
	path = bundle/sparkup
	url = git://github.com/HenningM/sparkup.git
